      <footer class="footerbar">
        <p>made with <i class="fa fa-heart fa-1x"> by Team 16IS2</i></p>
        <p>Badan Eksekutif Mahasiswa • UPH Medan © 2017</p>
        <ul>
          <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
        </ul>
      </footer>
      <!-- boostrap script -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
