<% include ./partials/header %>
<div class="site-wrapper">

 <div class="site-wrapper-inner">

   <div class="cover-container">

     <div class="masthead clearfix">
       <div class="inner">
         <h3 class="masthead-brand">Covera</h3>
         <nav class="nav nav-masthead">
           <a class="nav-link active" href="#">BERANDA</a>
           <a class="nav-link" href="#">TENTANG</a>
           <a class="nav-link" href="#">KEGIATAN</a>
           <a class="nav-link" href="#">KONTAK</a>
         </nav>
       </div>
     </div>

   </div>

 </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="my-5">
          Upcoming Events
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="my-5">
        <img src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg" alt="..." class="img-thumbnail img-event">
        Title
      </div>
    </div>
    <div class="col-4">
      <div class="my-5">
        <img src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg" alt="..." class="img-thumbnail img-event">
        Title
      </div>
    </div>
    <div class="col-4">
      <div class="my-5">
        <img src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg" alt="..." class="img-thumbnail img-event">
        Title
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="my-5">
          Events
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="my-5">
        <img src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg" alt="..." class="img-thumbnail img-event">
        Title
      </div>
    </div>
    <div class="col-4">
      <div class="my-5">
        <img src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg" alt="..." class="img-thumbnail img-event">
        Title
      </div>
    </div>
    <div class="col-4">
      <div class="my-5">
        <img src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg" alt="..." class="img-thumbnail img-event">
        Title
      </div>
    </div>
  </div>
</div>


  <a href="/admin">Admin page</a>
<% include ./partials/footer %>
