<% include ./partials/header %>
  <% if(event) { %>

  <section class="hero">
    <div class="background-image"></div>
  </section>

  <section class="upcoming">
    <h3 class="title">Upcoming Events</h3>
    <p>Stay in touch with our awesome event</p>
    <hr>
    <ul class="grid">
        <li class="large" style="background-image:url(<%= event.image %>)"></li>
    </ul>
  </section>

  <section class="motto">
    <h3 class="title">Our Vision and Mission</h3>
    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
    <hr>
    <ul class="grid">
      <li>
        <i class="fa fa-rocket fa-4x"></i>
        <h4>Vision</h4>
        <p>Being University of Pelita Harapan Medan well-known towards Indonesia.</p>
      </li>
      <li>
        <i class="fa fa-bullseye fa-4x"></i>
        <h4>Mission</h4>
        <p>Helding various events and collaborations with other universities and also company in Indonesia.</p>
      </li>
    </ul>
  </section>

  <section class="structure" id="structure">
    <h3 class="title">Our Structure</h3>
    <hr>
    <img src="/images/structure.jpg" alt="BEM ORGANIZATION STRUCTURE">
  </section>

  <section class="contact" id="contact">
    <h3 class="title">Contact us</h3>
    <p>We would like to hear from you! Don't hesistate to send us message or even say Hi !</p>
    <hr>
    <form action="/" method="post">
      <input type="text" placeholder="Name" name="name" required>
      <input type="email" placeholder="Email" name="email" required>
      <textarea name="message" cols="40" rows="5" placeholder="Message"></textarea>
      <button type="submit" name="button" class="btn btn-primary">Send</button>
    </form>
  </section>
  <% } %>

<% include ./partials/footer %>
